.filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: px-to-rem(16px) px-to-rem(20px) px-to-rem(18px);

  &__filter-list {
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + #{px-to-rem(16px)});
  }

  &__items-left,
  &__clear {
    font-size: px-to-rem(12px);
  }

  &__button {
    color: inherit;
    font-size: px-to-rem(14px);

    &--active {
      color: var(--active-filter-option);
    }
  }
}
