.main-header {
  height: 200px;
  background-image: url(../images/bg-mobile-dark.jpg);
  background-size: cover;
  padding: 48px 24px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
