:root {
  --background: #171823;
  --border: #393A4B;
  --todo-background: #25273D;
  --uncompleted-todo: #C8CBE7;
  --completed-todo: #4D5067;
  --on-background: #5B5E7E;
  --on-todo-background: #767992;
  --on-panel-background: #5B5E7E;
  --active-filter-option: #3A7CFD;
  --delete-todo: #494C6B;
  --box-shadow-color: rgba(0, 0, 0, .5);
  --initial-gradient: #5DD2FE;
  --last-gradient: #C058F3;
  --hover-filter-option: #E3E4F1;
}

body.light-theme {
  --background: #FAFAFA;
  --border: #979797;
  --todo-background: #ffffff;
  --uncompleted-todo: #494C6B;
  --completed-todo: #D1D2DA;
  --on-background: #9495A5;
  --panel-background: #9495A5;
  --on-panel-background: #9495A5;
  --delete-todo: #494C6B;
  --box-shadow-color: rgba(194, 195, 214, .5);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
p,
h1 {
  margin: 0;
}

body {
  background-color: var(--background);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body,
input,
button {
  font-family: "Josefin Sans", sans-serif;
}

main {
  padding: 0 1.5rem;
  position: relative;
  top: -5.75rem;
}
@media screen and (min-width: 1024px) {
  main {
    max-width: 33.75rem;
    margin: 0 auto;
    padding: 0;
    top: -8.875rem;
  }
}

input:focus {
  outline: none;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

.main-header {
  height: 200px;
  background-image: url(../images/bg-mobile-dark.jpg);
  background-size: cover;
  padding: 48px 24px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .main-header {
    height: 18.75rem;
    justify-content: center;
  }
}

.filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.9375rem 1.25rem 0.875rem;
}
@media screen and (max-width: 1023px) {
  .filter__filter-list {
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + 1rem);
  }
}
.filter__items-left, .filter__clear {
  font-size: 0.75rem;
}
@media screen and (min-width: 1024px) {
  .filter__items-left, .filter__clear {
    font-size: 0.875rem;
  }
}
.filter__clear {
  cursor: pointer;
}
.filter__clear:hover {
  color: var(--active-filter-option);
}
.filter__button {
  cursor: pointer;
  color: inherit;
  font-size: 0.875rem;
}
@media screen and (min-width: 1024px) {
  .filter__button {
    cursor: pointer;
  }
  .filter__button:hover:not(.filter__button--active) {
    color: var(--hover-filter-option);
  }
}
.filter__button--active {
  color: var(--active-filter-option);
}
@media screen and (min-width: 1024px) {
  .filter {
    padding: 1rem 1.5rem 0.9375rem;
  }
}

.form {
  background-color: var(--todo-background);
}
.form--new-todo {
  border-radius: 0.3125rem;
  margin-bottom: 1rem;
  box-shadow: 0 35px 50px var(--box-shadow-color);
}
@media screen and (min-width: 1024px) {
  .form--new-todo {
    margin-bottom: 1.5rem;
  }
}
.form--todo-list {
  border-radius: 0.3125rem;
}
.form__field {
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
}
.form__field:not(.form__field--no-border-bottom) {
  border-bottom: 1px solid var(--border);
}
@media screen and (min-width: 1024px) {
  .form__field {
    padding: 1.25rem 1.5rem;
  }
}
.form__checkbox {
  display: none;
}
@media screen and (min-width: 1024px) {
  .form__delete-button {
    cursor: pointer;
  }
  .form__delete-button:hover {
    filter: brightness(5);
  }
}
.form__checkbox-label {
  --background: var(--border);
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
  display: block;
  border-radius: 50%;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--background);
}
.form__checkbox-label::before {
  --width: calc(100% - 4px);
  --height: calc(100% - 4px);
  --background-before: var(--todo-background);
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--width);
  height: var(--height);
  background: var(--background-before);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .form__checkbox-label {
    --size: 1.5rem;
    margin-right: 1.5rem;
  }
}
.form__checkbox:checked + .form__checkbox-label {
  --background: linear-gradient(-45deg, var(--initial-gradient), var(--last-gradient));
}
@media screen and (min-width: 1024px) {
  .form__checkbox:hover + .form__checkbox-label {
    --background: linear-gradient(-45deg, var(--initial-gradient), var(--last-gradient));
    cursor: pointer;
  }
}
.form__checkbox:checked + .form__checkbox-label::before {
  --background-before: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.4375rem;
}
.form__input {
  background: none;
  border: none;
  font-size: 0.75rem;
  color: var(--on-todo-background);
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .form__input {
    font-size: 1.125rem;
  }
}
.form__input::placeholder {
  color: var(--on-todo-background);
}
.form__cross {
  height: 0.75rem;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .form__cross {
    height: 1.125rem;
    cursor: pointer;
  }
}

.main-title {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.75rem;
}
@media screen and (min-width: 1024px) {
  .main-title {
    font-size: 2.5rem;
    width: 32.125rem;
  }
}

.panel {
  background-color: var(--todo-background);
  border-radius: 0.3125rem;
  color: var(--on-background);
  box-shadow: 0 35px 50px var(--box-shadow-color);
}

.filter-list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .filter-list {
    box-shadow: 0 35px 50px var(--box-shadow-color);
    background-color: var(--todo-background);
    padding: 0.9375rem;
    border-radius: 0.3125rem;
  }
}
.filter-list__item:not(:last-child) {
  margin-right: 1.375rem;
}