:root {
  --background: #171823;
  --border: #393A4B;
  --todo-background: #25273D;
  --uncompleted-todo: #C8CBE7;
  --completed-todo: #4D5067;
  --on-background: #5B5E7E;
  --on-todo-background: #767992;
  --on-panel-background: #5B5E7E;
  --active-filter-option: #3A7CFD;
  --delete-todo: #494C6B;
}

:root {
  --background: #FAFAFA;
  --border: #979797;
  --todo-background: #ffffff;
  --uncompleted-todo: #494C6B;
  --completed-todo: #D1D2DA;
  --on-background: #9495A5;
  --panel-background: #9495A5;
  --on-panel-background: #9495A5;
  --delete-todo: #494C6B;
}
